SELECT
    time_bucket('{{.TimeBucket}}', "time") AS "time",
    AVG(aqi)::float8 AS avg,
    MIN(aqi)::float8 AS min,
    MAX(aqi)::float8 AS max,
    mode() WITHIN GROUP (ORDER BY primary_pollutant) AS primary_pollutant
FROM
    {{.AQITable}}
WHERE
    "time" > NOW() - INTERVAL '{{.LookbackInterval}}'
    AND aqi IS NOT NULL
    {{if .SerialNumber}}AND serial_number = '{{.SerialNumber}}'{{end}}
GROUP BY
    1
ORDER BY
    1
