SELECT
    time_bucket('{{.TimeBucket}}', "time") AS "time",
    AVG(pm25s)::float8 AS pm25_avg,
    AVG(pm100s)::float8 AS pm100_avg
FROM
    {{.Table}}
WHERE
    "time" > NOW() - INTERVAL '{{.LookbackInterval}}'
    AND pm25s IS NOT NULL
    AND pm100s IS NOT NULL
GROUP BY
    1
ORDER BY
    1
