SELECT
    "time",
    aqi::float8,
    level,
    primary_pollutant
FROM
    {{.AQITable}}
WHERE
    aqi IS NOT NULL
    {{if .SerialNumber}}AND serial_number = '{{.SerialNumber}}'{{end}}
ORDER BY
    "time" DESC
LIMIT 1
